body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

img{
    width: 150px;
    border-radius: 75%;
    
}

h1{
    
    height: 30px;
}

li{

    margin: 10px;
}